
<footer class="container-fluid bg-primary">
  <div class="row p-2">
     <div class="col-4 text-center text-white">
       <a href="https://www.instagram.com/nagdeosimran/" class="margin-right" target="_blank"><i style="color: orange;" class="fa fa-instagram" aria-hidden="true"></i></a>
       <a href="https://github.com/nagdeo" target="_blank"  class="margin-right"><i style="color: black;" class="fa fa-github" aria-hidden="true"></i></a>
       <a href="https://gitlab.com/simmi23" target="_blank"  class="margin-right"><i style="color: orange;" class="fa fa-gitlab" aria-hidden="true"></i></a>
       <a href="https://www.linkedin.com/in/simran-nagdeo-ba4736151/"  target="_blank" class="margin-right"><i style="color: blue;" class="fa fa-linkedin" aria-hidden="true"></i></a>
     </div>
     <div class="col-4 text-center text-white">
        @Copyright-Simran A. Nagdeo
     </div>
  </div>
</footer>
